<%include file="header.htm"%>
<script type="text/javascript" src="<%$webUrl%>/misc/script/common/bjs_dialog.js"></script>
<script type="text/javascript" src="<%$webUrl%>/misc/script/common/bjs_ajax.js"></script>
<script type="text/javascript" src="<%$webUrl%>/misc/script/common/bjs_calendar.js"></script>
<script type="text/javascript" src="<%$webUrl%>/misc/script/common/bjs_keyup.js"></script>
<script type="text/javascript">
	function dialog() {
		var dialog = new BjsDialog();
		// dialog.showMsg('dialog title', 'hi', 'okay');
		dialog.showChoose('dialog title', '<font><strong>hi</strong></font>', 'okay', 'cancle');
		dialog.onconfirm=function() {
			dialog.setDialogTitle('set dialog title');
			dialog.setDialogContent('hello dialog!');
			dialog.setConfirmButton('Next Step');
			// ajax();
		}
	}
	function ajax() {
		var ajax = new BjsAjax('loadingBar'); // with loading bar
		// var ajax = new BjsAjax(); // with out loading bar
		var params={'uName':'baojunbo'};
		// ajax.method='get';
		ajax.send('index.php?mod=user', params);
		ajax.ondone = function(data) {
			alert(data);
		}
	}

	keyup.getInputValue=function() {
		var tmp = $(keyup.src).getValue();
		$('jsinput').setValue(tmp);
		if (tmp) {
			var ajax = new BjsAjax;
			var params = {'p':tmp};
			ajax.method='get';
			ajax.send('index.php', params);
			ajax.ondone=function(data){
			}
		}
	}
	keyup.keydown=function(e){
		$('jsinput').setValue(e.keyCode);
	}
</script>
<title>BFrameWork for PHP</title>
</head>
<body>
	<div>
		<div><%$uName%></div>
		<!-- <div><table><tr><%foreach from=$user item=item key=key%><th><%$key%></th><td><%$item%></td><%/foreach%></tr></table></div> -->
		<div>
			<a href="javascript:void(0)" onclick="dialog();">dialog</a>
			<a href="javascript:void(0)" onclick="ajax();">ajax</a>
		</div>
		<div><input id="date1" type="text" value="" onclick="calendar.show('date1');" /></div>
		<div><input id="date" type="text" value="" onclick="calendar.show('date');" /></div>
		<div><input id="input1" type="text" value="" autocomplete="off" onfocus="keyup.keyupInput('input1')"/><input id="input" type="text" value="" autocomplete="off" onfocus="keyup.keyupInput('input')"/><input id="jsinput" type="text"></div>
	</div>
<%include file="footer.htm"%>
